<!DOCTYPE html>
<html end="lang">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale= 1">
        <link rel="stylesheet" type="text/css" href="../static/styles.css">
        <title>Notes Login</title>
    </head>
    <body>
        <header class="header-container">
            <h1>Welcome to Notes!</h1>
            <nav>
                <a href="/login">Login</a>
                <a href="/sign-up">Sign up</a>
            </nav>
        </header>
    </body>
</html>